<h3>Movies</h3>
<hr />
<ul>
  <li *ngFor="let movie of movies$ | async; let i = index">
    <span>{{ i + 1 }}. {{ movie.name }}</span>
    <button (click)="addToCollection(movie)">Add to my collection</button>
  </li>
</ul>
<br />
<h3>Collection</h3>
<hr />
<ng-container *ngIf="collection$ | async as collection">
  <ul *ngIf="collection?.list?.length; else empty">
    <li *ngFor="let movie of collection?.list; let i = index">
      <span>{{ i + 1 }}. {{ movie.name }}</span>
      <button (click)="removeFromCollection(movie.id)">X</button>
    </li>
  </ul>
</ng-container>
<ng-template #empty>Empty</ng-template>
